// Media queries
$media-small: 0px;
$media-medium: 640px;
$media-xlarge: 1024px;
$media-xlarge: 1100px;
$media-xxlarge: 1400px;

// Padding
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 40px;
$padding-xlarge: 60px;

// Margin
$margin-small: 10px;
$margin-medium: 20px;
$margin-large: 40px;
$margin-xlarge: 60px;
