@import '../layout/variables';

.header {
  padding: $padding-large $padding-small;
  background-color: #050505;
  position: relative;

  @media (max-width: $media-medium) {
    // .overlay {
    //   display: none;
    //   &.active {
    //     height: 100vh;
    //     width: 100vw;
    //     background-color: black;
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //   }
    // }
  }

  .left-side {
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;

    svg {
      width: 25px;
      height: 25px;
      fill: white;

      transform: rotate(90deg);
      display: none;
    }

    h1 {
      margin-bottom: 0;
      padding: $padding-medium;

      > a {
        text-decoration: none;
      }
    }

    .links {
      display: flex;
      align-items: center;

      > a {
        margin-right: $margin-small;
        margin-left: $margin-small;
        font-size: 11px;
        letter-spacing: 0.1em;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    @media (max-width: $media-medium) {
      display: flex;

      svg {
        display: block;
        position: relative;
        z-index: 10;
        &:hover {
          cursor: pointer;
        }
      }

      .overlay {
        // display: none;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        right: auto;
        transition: all 0.8s ease;
        background-color: black;
        opacity: 0;

        &.active {
          display: block;
          right: 0;
          opacity: 1;

          .links {
            width: 80%;
          }
        }

        .links {
          transition: width 0.5s ease;
          position: absolute;
          background-color: white;
          flex-direction: column;
          align-items: baseline;
          padding-top: 50px;
          z-index: 10;

          top: 0;
          right: 0;
          height: 100vh;
          width: 0%;

          > a {
            font-size: 16px;
            padding: $padding-small $padding-medium;
            margin-bottom: 6px;
            color: black;
          }
        }
      }
    }
  }
}
